/* reset */
input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}

/* my styles */

form {
	background: rgba(255, 255, 255, 0.6);
	color: #003049;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 500px;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.2);
	/* border: 2px solid blue; */
}

h2 {
	text-align: center;
	color: #3b506b;
}

.form-submit__btn {
	display: block;
	margin: 1rem auto;
	width: 50%;
	text-align: center;
	background: linear-gradient(90deg, #89c4f4, #6fa3ef);
	padding: 0.75rem;
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
}

.form-submit__btn:hover {
	background: linear-gradient(90deg, #6fa3ef, #89c4f4);
	transform: translateY(-2px);
}

.form-submit__btn:active {
	transform: translateY(0);
}
.form-submit__btn:focus {
	/* background: red; */
	border: solid #4f8ce7 1px;
	box-shadow: 0 0 5px rgb(43, 133, 206);
}

.form-submit__btn:disabled {
	background: linear-gradient(90deg, #d3d3d3, #b0b0b0);
	color: #ffffff;
	cursor: not-allowed;
	opacity: 0.6;
}
